<div class="container-fluid">
  <div class="row">
    <div class="col image4"></div>
      <div class="col-md-9 xm-auto">
        <p>ようこそ「ランキングを作ろう！」へ</p><br>
        <p>ここではあなただけのランキングが作れます</p>
        <p>もしもみんなに順位を決めてほしいことがあればここでサクッとランキングにしちゃおう</p>
      </div>
    <div class="col image4-2"></div>
  </div>
</div>