/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 @import url(https://fonts.googleapis.com/css?family=Bitter);
   body {
     margin: 0;
     font-family: 'Bitter', serif;
   }
   h1 {
     font-size: 40px;
     font-weight: 400;
     margin: 0;

   }
   p {
     font-size: 20px;
     margin-top: 26px;
   }

   .image1 {
    background: image-url("ikemen.jpg");
    background-size: 600%;
    background-position: center;
   }

   .image2 {
    background: image-url("ikemen2.jpg");
    background-size: 600%;
    background-position: center;
   }

   .image3 {
    background: image-url("ikemen3.jpg");
    background-size: 500%;
    background-position: left;
   }

   .image3-2 {
    background: image-url("ikemen3.jpg");
    background-size: 400%;
    background-position: right;
   }

   .image4 {
    background: image-url("image4.jpg");
    background-size: 200%;
    background-position: left;
   }

   .image4-2 {
    background: image-url("image4.jpg");
    background-size: 200%;
    background-position: right;
   }